{% extends 'base.html' %} {% block content %}
<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">Sobre Nosotros</h2>
          <hr>
          <div class="row">
            <div class="col-lg-4 ml-auto">
              </div>
          </div>
          <div class="text-center mt-4" style="color:grey">
              Somos una productora de eventos Deportivos, Sociales y Corporativos, especializada en el asesoramiento, producción y coordinación, con más de 15 años de experiencia, contamos con la valiosa ayuda de un equipo humano, profesional y de espíritu joven, capaz de hacer suyo cada uno de los desafíos que enfrentamos como productora. Nos esforzamos por dar siempre lo mejor, anticipándonos al entorno entregando soluciones rápidas, precisas y acorde a las expectativas de nuestro público y cliente.
              <h3>VISIÓN</h3>
              El deporte, la excelencia y la innovación son los motores que nos mueven por lograr cada día eventos de mejor calidad, siendo estos experiencias inolvidables para todos quienes participan de un evento producido por nuestra empresa. Queremos ser pilar importante del cambio cultural de un Pasís en desarrollo, donde el deporte será un factor clave en el crecimiento en las próximas décadas.
              <h3>MISIÓN</h3>
              Ser una plataforma de generación de contenidos interesantes y motivadores, siendo socios en vez de proveedores de nuestros clientes, alineados a los objetivos de la marca y entregando soluciones que generen valor agregado. 
              <h3>VALORES</h3>
              Nuestros eventos son seguros, puntuales, con un excelente despliegue técnico y visual, esto crea una experiencia positiva y de gran recuerdo para los participantes y marcas que participen en ellas, teniendo como objetivo principal que nuestros eventos trasciendan en el tiempo.
          </div>
        </div>
      </section>
    </div>
{% endblock %}