{% extends 'base.html' %} {% block content %}
<section class="bg-primary text-white mb-0" id="service">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Eventos</h2>
        <table align="center">
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <tr>
                        <td>
                            <form action="/eventos" method="GET">
                                {% csrf_token %}
                                <input name="search" placeholder="Buscar eventos.." id="buscador">
                                <button type="submit" class="save btn btn-default">Buscar</button>
                            </form>
                        </td>
                    </tr>
                </div>
                <div class="col-lg-4">
                    <td>
                        <b>Eventos</b>
                    </td>
                </div>
                <table align="center">
                    {% for evento in event_list %}
                    <tr>
                        <td>
                            <div class="col-lg-4 mr-auto">
                                <img src='http://localhost:8000/media/{{evento.foto}}' width="300" height="200">
                                </small>
                            </div>
                            <div class="col-lg-4 ml-auto">
                                <h5>{{ evento.nombre }}</h5>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </table>
        </div>
        </div>
</section>
{% endblock %}