{% extends 'base.html' %} {% block content %}
<section class="bg-primary text-white mb-0" id="service">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Mensaje enviado</h2>
        <hr>
        <div class="row">
            <table align="center">
                <tr>
                    <td>
                        <h3>A la brevedad nos pondremos en contacto contigo. Atte. Staff Aventuras Deportivas</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
</section>
{% endblock %}